{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Komanda</th>
            <td>{{ utm_content }}</td>
        </tr>
        <tr>
            <th scope="row">Mentorius</th>
            <td>{{ utm_campaign }}</td>
        </tr>
        <tr>
            <th scope="row">Laimingasis(-oji)</th>
            <td>{{ utm_term }}</td>
        </tr>
        </tbody>
    </table>

        {% if utm_term == "Nerijus" %}
            <div class="alert alert-success" role="alert">
                Dešimt balų !!!
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
            Gal pasiseks kitą kartą
            </div>
        {% endif %}

        <div><a href="{{ path('studentai') }}">Visi Dalyviai</a></div>

    <link rel="stylesheet" href="{{ asset('build/app.js') }}">



{% endblock %}
